.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: blue;
    background-color: gray;
}


li {
    display: inline;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

a:visited { 
    text-decoration: none; 
    color:blue; 
}
